.cabecalho {
    align-items: center;
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    align-items: center;
    display: flex;
}

.container__titulo {
    color: var(--preto);
    display: none;
    margin-left: 1em;
}

.cabecalho__menu-hamburguer {
    background-image: url(../IMG/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../IMG/Menu\ Aberto.png");
}

.container__botao:checked~.container__rotulo {
    background: var(--cinza-escuro);
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    background-color: var(--cinza);
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--ciano);
    font-weight: 700;
}

.lista-menu__link {
    background: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao,
.opcoes,
.container__texto,
.container__botao {
    display: none;
}

.opcoes__link, .opcoes__item {
    color: inherit;
}
.opcoes__troca:hover {
    background: var(--ciano);
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .container__titulo {
        font-size: 30px;
    }

    .container__titulo {
        display: block;
        font-weight: 400;
    }

    .opcoes {
        align-items: center;
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
    }

    .opcoes__troca {
        background-color: transparent;
        border: none;
        border-radius: 12px;
        font-weight: 700;
        padding: .8em;
        text-transform: uppercase;
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--cinza-escuro);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--cinza-escuro);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        align-items: center;
        color: var(--preto);
        display: flex;
        text-decoration: none;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}